@model MyGit.Models.MyForm
@{
  ViewData["Title"] = "MyForm";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="MyForm">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="tbPath" class="control-label"></label>
        <input asp-for="tbPath" class="form-control" />
        <span asp-validation-for="tbPath" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="tbLog" class="control-label"></label>
        <input asp-for="tbLog" class="form-control" />
        <span asp-validation-for="tbLog" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="mmCreate" class="btn btn-default" />
        <button type="submit" asp-route-data="mojeData" class="btn btn-default">mojeData</button>
      </div>
    </form>
  </div>
</div>

<form method="POST">
  <button type="submit" asp-route-data="mojeData" asp-page-handler="mujHandler">btOK</button>
  <button type="submit" asp-route-data="test">btTest</button>
  <button type="submit" asp-route-data="btAbc" class="btn btn-default">btAbc</button>
  <button type="submit" class="btn btn-default">btEmpty</button>
</form>
<div>  tbPath:  @ViewData["tbPath"] </div>
<div>  tbLog:  @ViewData["tbLog"] </div>
<div>  data:  @ViewData["data"] </div>
<div>   handler:  @ViewData["handler"] </div>
<div>   Log: @ViewData["Log"] </div>
<div>   ViewBag.Jmeno: @ViewBag.Jmeno </div>




<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
